
.savmaxru-forms .myforms-wrapper
{
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}


.savmaxru-form-element-for-list
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid rgba(0,0,0,.1);
	background-color: white;
	cursor: pointer;
	height: 64px;
	padding-right: 30px;
	padding-left: 30px;

}

.savmaxru-form-element-for-list:hover
{
	background-color: #F2F2F2;
}