

.savmaxru-forms .dropdownlist {
	position: relative;
	display: block;
	width: 480px;
	padding: .75rem 0 .75rem 1rem;
	background: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	appearance: none;
	font-family: inherit;
	font-size: 1.3rem;
	color: #444;
}

.savmaxru-forms .dropdownlist {
	background-image: url('arrow-down.svg');
	background-size: 5%;
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 54%;
}

.savmaxru-forms .dropdownlist:hover {
	background-image: url('arrow-down-hit.svg');
}

.object-wrapper{
}
.savmaxru-forms .object-gui {

	padding: 22px 50px;
	border-bottom: 1px solid #E5E5E5;
	background-color: white;
	position: relative;
}

.savmaxru-forms .object-gui .field-description {
	margin: 0 0 .3em 0;
	color: #263351;
	font-size: 16px;
}

.savmaxru-forms .object-gui .field-comment{
	color: #878787;
	padding: .3em 0;
	font-size: 16px;
}

.savmaxru-forms .object-gui .field-mark{
	font-size: 18px;
	color: red;
	position: absolute;
	left: 32px;
	top: 25px;
}


/*region CHECKBOX*/
.savmaxru-forms input[type="checkbox"] {
	display: none;
}

.savmaxru-forms .checkbox-label:before {
	content: " ";
	display: inline-block;
	margin-right: 15px;
	position: relative;
	width: 25px;
	height: 25px;
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-image: initial;
	vertical-align: middle;
	background-size: cover;
}

.savmaxru-forms input:checked + .checkbox-label:before {
	background-image: url("checkbox-mark-checked.png");
}

.savmaxru-forms input:not(:checked) + .checkbox-label:hover::before {
	background-image: url("checkbox-mark-over.png");
}

.savmaxru-forms .checkbox-label {
	cursor: pointer;
	margin-right:.3em;
	color: #263351;
	font-size: 14px;
}

.savmaxru-forms .checkbox-item {
	margin-bottom: 4px;
}

/*endregion*/

.savmaxru-forms .electiveitemslist :last-child {
	margin-bottom: 0;
}

/*region RADIOBUTTON*/
.savmaxru-forms input[type="radio"] {
	display: none;
}

.savmaxru-forms .radiobutton-label:before {
	content: " ";
	display: inline-block;
	margin-right: 15px;
	position: relative;
	width: 25px;
	height: 25px;
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 100px;
	border-image: initial;
	vertical-align: middle;
	background-size: cover;
}

.savmaxru-forms .radiobutton-label {
	cursor: pointer;
	margin-right:.3em;
	color: #263351;
	font-size: 14px;
}

.savmaxru-forms .radiobutton-item {
	margin-bottom: 4px;
}

.savmaxru-forms input:checked + .radiobutton-label:before {
	background-image: url("radiobutton-mark-checked.png");
}

.savmaxru-forms input:not(:checked) + .radiobutton-label:hover::before {
	background-image: url("radiobutton-mark-over.png");
}
/*endregion*/

/*region BUTTON*/

.savmaxru-forms .button{
	text-align: center;
	font-weight: 500;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: #538bcd;
	box-shadow: 0 -3px #4180cd inset;
	font-size: 18px;
	width: 200px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	transition: .2s;
}

.savmaxru-forms .button:hover{
	background: #3087cd;
	transition: .2s;
}
.savmaxru-forms .button:active {
	background: #538bcd;
	box-shadow: 0 3px #4180cd inset;
	transition: .2s;
}

.savmaxru-forms .plus-button{
	text-align: center;
	font-weight: 500;
	color: white;
	text-decoration: none;
	border-radius: 100px;
	background: rgb(64,199,129);
	box-shadow: 0 -3px rgb(53,167,110) inset;
	transition: 0.2s;
	font-size: 18px;
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-image: url("plus.svg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center center;
}

.savmaxru-forms .plus-button:hover{
	background: rgb(53, 167, 110);
	background-image: url("plus.svg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center center;
}
.savmaxru-forms .plus-button:active {
	background: rgb(33,147,90);
	box-shadow: 0 3px rgb(33,147,90) inset;
	background-image: url("plus.svg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center center;
}

/*
.savmaxru-forms .button
{
	display: block;
	cursor: pointer;
	text-align: center;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	color: black;
	font-size: 18px;
	text-decoration: none;
	user-select: none;
	padding-top: 12px;
	padding-bottom: 16px;
	outline: none;
	border: 1px solid rgb(250,172,17);
	border-radius: 7px;
	background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
	transition: box-shadow .2s, border-color .2s;
}

.savmaxru-forms .button:hover {
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}

.savmaxru-forms .button:active {
	border-color: rgba(177,159,0,1);
	box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}*/
/*endregion*/

.savmaxru-forms .heading-item
{
	color: #304c62;
	text-align: center;
	font-size: 18px;
}

.savmaxru-forms .textbox-singleline{
	display: block;
	width: calc(480px - 2.5rem - 1rem - 2*1px);
	padding: .75rem 2.5rem .75rem 1rem;
	background: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	appearance: none;
	font-family: inherit;
	font-size: 1.3rem;
	color: #444;
}

.savmaxru-forms .object-gui .edit-panel .settings{
	width: 36px;
	height: 36px;
	background-color: #538bcd;
	border-radius: 100px;
	margin: 2px;
	background-image: url("editor-ico.svg");
	background-size: 22px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor:pointer;
	transition: 0.1s;

}
.savmaxru-forms .object-gui .edit-panel .settings:hover{
	background-color: #525253;
	transition: 0.1s;
}
.savmaxru-forms .object-gui .edit-panel .remove:hover{
	background-color: #525253;
	transition: 0.1s;
}
.savmaxru-forms .object-gui .edit-panel .remove{
	width: 36px;
	height: 36px;
	background-color: #fe3636;
	border-radius: 100px;
	margin: 2px;
	background-image: url("delete-ico.svg");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	cursor:pointer;
	transition: 0.1s;
}


.savmaxru-forms .object-gui .edit-panel{
	margin: 6px;
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}