.savmaxru-forms.dropdownlist {
	position: relative;
}

.savmaxru-forms .dropdownlist select {
	display: block;
	width: 380px;
	padding: .75rem 2.5rem .75rem 1rem;
	background: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	appearance: none;
	font-family: inherit;
	font-size: 1rem;
	color: #444;
}

.savmaxru-forms .dropdownlist select {
	background-image: url('arrow-down.svg');
	background-size: 5%;
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 54%;
}

.savmaxru-forms .dropdownlist select:hover {
	background-image: url('arrow-down-hit.svg');
}

.savmaxru-forms .object-gui {
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 50px;
	border-bottom: 1px solid #E5E5E5;
	background-color: white;
}

.savmaxru-forms .object-gui .field-description {
	margin: 0 0 .3em 0;
	color: #263351;
	font-size: 16px;
}

.savmaxru-forms .object-gui .field-comment{
	color: #878787;
	padding: .3em 0;
	font-size: 16px;
}

.savmaxru-forms .object-gui .field-mark{
	font-size: 18px;
	color: red;
	position: absolute;
	left: 32px;
	top: 25px;
}


input[type="checkbox"] {
	display: none;
}


label:before {
	content: " ";
	color: #000;
	display: inline-block;
	font: 20px/30px Arial;
	margin-right: 15px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	width: 25px;
	height: 25px;
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-image: initial;
	vertical-align: middle;
	background-size: cover;
}

input:checked + label:before {
	background-image: url("checkbox-mark-checked.png");
}

input:not(:checked) + label:hover::before {
	background-image: url("checkbox-mark-over.png");
}

input:disabled + label:before {
	background: #eee;
	color: #aaa;
}

.savmaxru-forms label {
	cursor: pointer;
	margin-right:.3em;
	color: #263351;
	font-size: 14px;
}

.checkbox-item {
	margin-bottom: 4px;
}

.checkboxes :last-child {
	margin-bottom: 0;
}