
@font-face {
	font-family: Gotham;
	src: url(fonts/Gotham.ttf);
}

@font-face {
	font-family: GothamBold;
	src: url(fonts/GothamPro.ttf);
}

.savmaxru-forms-main-container
{
	font-family: GothamBold, Helvetica,sans-serif;
}