
.savmaxru-forms-main-container
{

}

.savmaxru-forms-gallery
{

}

.savmaxru-forms-h5
{
	font-size: 140%;
	font-weight: normal;
	color: #414141;
	font-family: Arial, Helvetica,sans-serif;
}

.savmaxru-forms-h4
{
	font-size: 110%;
	font-weight: normal;
	color: #999999;
	font-family: Arial, Helvetica,sans-serif;
}